/* estilos/PiePagina.css */

.pie-pagina {
    background-color: #000; /* Negro */
    color: #fff; /* Blanco */
    padding: 20px;
    text-align: center;
  }
  
  .contenedor-pie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .seccion-pie {
    flex: 1;
    min-width: 250px;
    margin: 15px;
  }
  
  .seccion-pie h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .seccion-pie ul {
    list-style: none;
    padding: 0;
  }
  
  .seccion-pie li {
    margin-bottom: 5px;
  }
  
  .seccion-pie a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .seccion-pie a:hover {
    color: #ccc; /* Gris claro */
  }
  
  .redes-sociales a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s;
  }
  
  .redes-sociales a:hover {
    color: #ccc; /* Gris claro */
  }
  
  .derechos {
    margin-top: 20px;
    font-size: 0.9em;
  }

  @media (max-width: 768px) {
    .contenedor-pie {
      flex-direction: column;
      text-align: center;
    }
    
    .seccion-pie {
      margin: 10px 0;
    }
    
    .redes-sociales {
      margin-top: 15px;
    }
  }

  @media (max-width: 480px) {
    .pie-pagina {
      padding: 15px;
    }
    
    .seccion-pie h3 {
      font-size: 1.2em;
    }
    
    .seccion-pie a {
      font-size: 0.9em;
    }
  }